<!DOCTYPE html>
<html>
	<head>
		<title>Походник - сводим туристов с гидами</title>
		<meta charset = "utf-8">
		<meta type ="name" content = "Походник">
		<link rel = "stylesheet" href = "./css/normalize.css">
		<link rel = "stylesheet" href = "./css/styles.css">
	</head>
	<body>
		<div class = "page-wrap">
			<header>
				<div class="header-logo" src="" alt="Логотип">Походник.Ру</div>
				<!--<img class = "header-logo" src = "" alt = "Логотип">-->
				<ul class = "navbar">
					<li>
						<a href = "">Маршруты</a>
					</li>
					<li>
						<a href = "">Походники</a>
					</li>
					<li>
						<a href = "">Места</a>
					</li>
				</ul>
				<a>
					<div class = "button">
						Организовать поход
					</div>
				</a>
					<div class = "auth">
						<a href = "/login">Войти</a>
						<a href = "">Зарегистрироваться</a>
					</div>
			</header>
			<section>				
				<div class = "">
					<h3>Авторизация</h3>
					
					<div class="head">
				<form action="/login" method="POST">
<h2>Ник:</h2>
				<input type="text" name="username" placeholder="Введите ваш никнейм"> 			</div>
				<div class="head">
				<h2>Пароль:</h2>
				<input type="text" name="name" placeholder="Введите пароль">
			</div>
				</div>
				<a id="loginButton" href = ""><input type="submit" class = "join-button" value="Войти"/></a>
				</form>
				
			</section>
			<div class = "push"></div>
			</div>
		<footer>
			<img class = "logo" src = "" alt = "logo">
			<ul>
				<li>Маршруты</li>
				<li>Водные</li>
				<li>Горные</li>
				<li>Приключенческие</li>
				<li>Романтические</li>
			</ul>
			<ul>
				<li>Походники</li>
				<li>Компаньоны</li>
				<li>Проводники</li>
				<li>Агентства</li>
			</ul>
			<ul>
				<li>Точки</li>
				<li>Города</li>
				<li>Места</li>
			</ul>
			<ul>
				<li>Контакты</li>
				<li>О проекте</li>
				<li>Контакты</li>
				<li>Я - организатор</li>
			</ul>
			<ul class = "SSlinks">
				<li>Мы в социальных сетях</li>
				<li class = "icon"><a><img src = "./img/icons/vk-icon.png" ></a></li>
				<li class = "icon"><a><img src = "./img/icons/google_plus icon.png" ></a></li>
				<li class = "icon"><a><img src = "./img/icons/twitter-icon.png" ></a></li>
				<li class = "icon"><a><img src = "./img/icons/facebook  icon.png" ></a></li>
			</ul>
		</footer>
	</body>