<!DOCTYPE html>
<html>
	<head>
		<title>Походник - сводим туристов с гидами</title>
		<meta charset = "utf-8">
		<meta type ="name" content = "Походник">
		<link rel = "stylesheet" href = "./css/normalize.css">
		<link rel = "stylesheet" href = "./css/styles.css">
	</head>
	<body>
		<div class = "page-wrap">
			<header>
				<img class = "header-logo" src = "" alt = "Логотип">
				<ul class = "navbar">
					<li>
						<a href = "">Маршруты</a>
					</li>
					<li>
						<a href = "">Походники</a>
					</li>
					<li>
						<a href = "">Места</a>
					</li>
				</ul>
				<a>
					<div class = "button">
						Организовать поход
					</div>
				</a>
					<div class = "auth">
						<a href = "">Войти</a>
						<a href = "">Зарегистрироваться</a>
					</div>
			</header>
			<section>
				<div class = "sub-header">
					<h1 class = "hike-name">Каракольские края Алтая</h1>
					<p class = "hike-loc">Алтайский край, Барнаул</p>
					<p class = "hike-date">12-23 августа</p>
				</div>
				<div class = "left-section">
					<div class = "poxod-map">
					</div>
					<h3>Описание похода</h3>
					<p class = "hike-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h3>Программа</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h3>Бюджет</h3><p class = "hike-budget">100500 рублей</p>
					<h3>Требования к участникам</h3><p hike = "">Рассчитан на людей, имеющих походный опыт, хотя также подойдет и новичкам.</p>
					<h3>Экипировка</h3>
					<p>Образец снаряжения</p>
					<h3>Навыки</h3>
					<p>Необходимые для участия в походе навыки</p>
				</div>
				<div class = "right-section">
					<h3>Организатор</h3>
					<img src = "./img/guide-ph.png">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<a href = ""><div class = "join-button">Присоединиться</div></a>
			</section>
			<div class = "push"></div>
			</div>
		<footer>
			<img class = "logo" src = "" alt = "logo">
			<ul>
				<li>Маршруты</li>
				<li>Водные</li>
				<li>Горные</li>
				<li>Приключенческие</li>
				<li>Романтические</li>
			</ul>
			<ul>
				<li>Походники</li>
				<li>Компаньоны</li>
				<li>Проводники</li>
				<li>Агентства</li>
			</ul>
			<ul>
				<li>Точки</li>
				<li>Города</li>
				<li>Места</li>
			</ul>
			<ul>
				<li>Контакты</li>
				<li>О проекте</li>
				<li>Контакты</li>
				<li>Я - организатор</li>
			</ul>
			<ul class = "SSlinks">
				<li>Мы в социальных сетях</li>
				<li class = "icon"><a><img src = "./img/icons/vk-icon.png" ></a></li>
				<li class = "icon"><a><img src = "./img/icons/google_plus icon.png" ></a></li>
				<li class = "icon"><a><img src = "./img/icons/twitter-icon.png" ></a></li>
				<li class = "icon"><a><img src = "./img/icons/facebook  icon.png" ></a></li>
			</ul>
		</footer>
	</body>